// @param bool $ie - use ie style
@mixin helpers-clearfix($ie:0){
  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
  @if $ie != 0{
    .clearfix {
      *zoom: 1;
    }
  }
}